val scala3Version = "3.2.2"
val http4sVersion = "0.23.14"
val circeVersion = "0.14.5"

lazy val root = project
  .in(file("."))
  .settings(
    scalaVersion := scala3Version,

    organization := "spartan.works",
    version := "{{version}}",
    versionScheme := Some("early-semver"),
    name := "{{artifactId}}",

    libraryDependencies ++= Seq(
      // HTTP
      "org.http4s" %% "http4s-core" % http4sVersion,
      "org.http4s" %% "http4s-dsl" % http4sVersion,
      "org.http4s" %% "http4s-blaze-client" % http4sVersion,
      "org.http4s" %% "http4s-circe" % http4sVersion,

      // JSON
      "io.circe" %% "circe-core" % circeVersion,
      "io.circe" %% "circe-generic" % circeVersion,
    ),

    // Publishing
    githubOwner := "SpartanWorks",
    githubRepository := "spartan-sensor-mesh-spec",

  )
